<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: aqua;
        }
        .container{
            display: flex;
            justify-content: center;
            
        }
    </style>
    <title>Document</title>
</head>
<body> 
    <div class="container">  
        <div class="meme">
            <img src="<%= content %>">    
        </div>
    </div> 
</body>
</html>